input[type='datetime-local']::-webkit-calendar-picker-indicator {
  opacity: 0;
}
input[type='datetime-local']::-moz-calendar-picker-indicator {
  opacity: 0;
}

input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
}
input[type='date']::-moz-calendar-picker-indicator {
  opacity: 0;
}

.custom-date {
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" /></svg>');
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1.25rem;
  padding-right: 2.25rem;
}
